footer {
  background: var(--blue);
}

.footer {
  &--copy {
    margin-top: auto;
  }
  &--contacts {
    padding: 25px 0;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.01em;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    color: var(--white);
  }
}